/* ==========================================================================
   Air skin
   ========================================================================== */

// Color bases
$surface-color: #130c0e;
$pink-d400: #ee3d8f;
$pink-d600: #dc0a75;
$pink-d200: #f290bf;
$pink-d100: #f6bcd9;

/* Colors */
$primary-color: $pink-d200 !default;

$background-color: mix(#fff, $surface-color, 96%) !default;

$text-color: mix($surface-color, #fff, 87%) !default;
$muted-text-color: mix($surface-color, #fff, 60%) !default;
$disabled-text-color: mix($surface-color, #fff, 38%) !default;

$border-color: mix($surface-color, #fff, 38%) !default;

$footer-background-color: $pink-d200 !default;
$footer-text-color: $text-color !default;

$link-color: $text-color !default;
$link-color-hover: $muted-text-color !default;
$link-color-visited: $disabled-text-color !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $muted-text-color !default;
$navicon-link-color-hover: mix(#000, $background-color, 30%) !default;
