/* ==========================================================================
   Dark skin
   ========================================================================== */

// Color bases
$surface-color: #130c0e;
// $surface-color: #121212;
$pink-d400: #ee3d8f;
$pink-d600: #dc0a75;
$pink-d200: #f290bf;
$pink-d100: #f6bcd9;

/* Colors */
$primary-color: $pink-d200 !default;

$background-color: mix(#fff, $surface-color, 9%) !default;

$text-color: mix(#fff, $surface-color, 87%) !default;
$muted-text-color: mix(#fff, $surface-color, 60%) !default;
$disabled-text-color: mix(#fff, $surface-color, 38%) !default;

$border-color: mix(#fff, $surface-color, 12%) !default;

$form-background-color: mix(#fff, $surface-color, 12%) !default;

$footer-background-color: mix(#fff, $surface-color, 5%) !default;
$footer-text-color: $muted-text-color !default;

$link-color: $pink-d200 !default;
$link-color-hover: $pink-d400 !default;
$link-color-visited: $pink-d100 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $muted-text-color !default;
$navicon-link-color-hover: mix(#000, $background-color, 30%) !default;
